{% extends 'ide/base.html' %}

{% load static %}
{% block content %}
    <link href="{% static 'ide/wssh/css/xterm.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ide/lib/codemirror.css' %}">

    <script src="{% static 'ide/lib/codemirror.js' %}"></script>
    <script src="{% static 'ide/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'ide/js/python.js' %}"></script>
    <script src="{% static 'ide/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ide/wssh/js/popper.min.js' %}"></script>
    <script src="{% static 'ide/wssh/js/xterm.min.js' %}"></script>
    <script src="{% static 'ide/wssh/js/xterm-addon-fit.min.js' %}"></script>
    <script src="{% static 'ide/wssh/js/main.js' %}"></script>

    <section class="content">
        <div class="row">
            <div class="col-md-12 page-header">
                <div class="page-pretitle">{{ project.name }} ({{ project.owner.username }})</div>
                {% if user_to_see != None %}
                <div class="page-pretitle">Espace de travail externe en cours : {{ user_to_see.username }} ({{ user_to_see.email }})</div>
                {% endif %}
            </div>
        </div>
        {% if user_to_see != None and role == 3 %}
        {% else %}
        <strong>Nouveau fichier</strong>
        <div class="col-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded-0" id="add-field" style="width: 20px;">
                <span class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat" onclick="addFile()">+</button>
                </span>
            </div>
        </div>
        {% endif %}
        <a class="btn btn-app" onclick="exec();">
            <i class="fas fa-play"></i>
        </a>
        {% if user_to_see == None or role == 1 or role == 4 %}
        <a class="btn btn-app" onclick="deleteFile();">
            <i class="fas fa-trash"></i>
        </a>
        {% endif %}
        {% if role == 3 %}
        <a class="btn btn-app" href="/editor?id_project={{project.id}}">
            <i class="fas fa-home"></i>
        </a>
        <a class="btn btn-app" href="/editor?id_user={{ user_to_see.id }}&id_project={{project.id}}">
            <i class="fas fa-eye"></i>
        </a>
        {% endif %}
        {% if role == 1 and users|length > 0 %}
        <a class="btn btn-app" href="/editor?id_project={{project.id}}">
            <i class="fas fa-home"></i>
        </a>
        <div class="nav-dropdown">
            <a href="#" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-eye"></i>
            </a>
            <div class="dropdown-menu nav-link-menu">
                <ul class="nav-list">
                    {% for up in users %}
                    <li><a href="/editor?id_project={{project.id}}&id_user={{ up.user.id }}" class="dropdown-item"> {{ up.user.username }} ({{ up.user.email }})</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                {% for file in files %}
                <li class="nav-item">
                    <a class="nav-link" id="tab-{{ file }}" onclick="openTab('{{ file }}')">{{ file }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
            <div class="card-body p-0">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                {% for file in files %}
                <div class="tab-pane" id="{{ file }}" style="display: block">
                    <textarea id="code-{{ file }}"></textarea>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <div class="card-body p-0">
                        <div class="container form-container" style="display: none">
                            <form id="connect" action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="term" name="term" value="xterm-256color">
                            </form>
                        </div>
                        <div id="terminal"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $(document).ready(function() {
            wssh.connect("{{ docker_host }}", "{{ docker_port }}", "{{ user.id }}", "{{ user.password }}", "", "", "");
            openTab(file);
            move();
        });

        $(document).on("keydown", function(e){
                if(e.ctrlKey && e.keyCode == 83){
                    e.preventDefault();
                    console.log(editors[file].getValue())
                    fetch("{{ reau_url }}/writefile/", {
                        method: "POST",
                        body: JSON.stringify({
                            id_project: {{ project.id }},
                            filename: file,
                            content: editors[file].getValue(),
                            {% if user_to_see != None %}
                            {% if role == 1 or role == 4 %}
                            id_user: {{ user_to_see.id }},
                            {% endif %}
                            {% endif %}
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8",
                            "X-CSRFToken": csrftoken
                        }
                    });
                };
            });
    </script>
      
    <script>
        {% if user_to_see != None %}
        var files = httpGet("{{ reau_url }}/ls?id_user={{ user_to_see.id }}&id_project={{ project.id }}");
        {% else %}
        var files = httpGet("{{ reau_url }}/ls?id_project={{ project.id }}");
        {% endif %}
        files = files.split('\n');
        files.pop();
        var editors = {}
        var opened_tabs = [];

        var file = "";
        if (files.length > 0) {
            file = files[0];
        }

        console.log(file);

        for (var i = 0; i < files.length; i++) {
            var editor = CodeMirror.fromTextArea(document.getElementById("code-"+files[i]), {
                mode: {name: "python",
                    version: 3,
                    singleLineStringErrors: false},
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true
            });
            editors[files[i]] = editor;
        }

        function httpGet(url) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", url, false );
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }

        function openTab(tabId) {
            file = tabId;
            
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tab-pane");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("nav-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabId).style.display = "block";
            document.getElementById("tab-"+tabId).className += " active";
            if (!opened_tabs.includes(file)) {
                {% if user_to_see != None %}
                editors[file].getDoc().setValue(httpGet("{{ reau_url }}/cat?id_user={{ user_to_see.id }}&id_project={{ project.id }}&file="+file));
                {% else %}
                editors[file].getDoc().setValue(httpGet("{{ reau_url }}/cat?id_project={{ project.id }}&file="+file));
                {% endif %}
                opened_tabs.push(file);
            }
        }

        function exec() {
            {% if user_to_see != None %}
            wssh.send('python3 /home/{{ user_to_see.id }}/{{ project.id }}/'+file);
            {% else %}
            wssh.send('python3 /home/{{ user.id }}/{{ project.id }}/'+file);
            {% endif %}
        }

        function move() {
            {% if user_to_see != None %}
            wssh.send('cd /home/{{ user_to_see.id }}/{{ project.id }}');
            {% else %}
            wssh.send('cd /home/{{ user.id }}/{{ project.id }}');
            {% endif %}
        }

        function deleteFile() {
            var tabToDelete = document.getElementById("tab-"+file);
            tabToDelete.remove();
            var contentToDelete = document.getElementById(file);
            contentToDelete.remove();
            for (var first in editors) {
                delete editors[first];
                {% if user_to_see != None %}
                {% if role == 1 or role == 4 %}
                httpGet("{{ reau_url }}/rm?id_user={{ user_to_see.id }}&id_project={{ project.id }}&filename="+first);
                {% endif %}
                {% else %}
                httpGet("{{ reau_url }}/rm?id_project={{ project.id }}&filename="+first);
                {% endif %}
                break;
            }
            for (var first in editors) {
                openTab(first);
                break;
            }
        }

        function addFile() {
            var add_field = document.getElementById("add-field");
            var file_value = add_field.value;
            if (file_value != "" && !(file_value in editors)) {
                add_field.value = "";
                {% if user_to_see != None %}
                {% if role == 1 or role == 4 %}
                httpGet("{{ reau_url }}/touch?id_user={{ user_to_see.id }}&id_project={{ project.id }}&filename="+file_value);
                {% endif %}
                {% else %}
                httpGet("{{ reau_url }}/touch?id_project={{ project.id }}&filename="+file_value);
                {% endif %}
                document.getElementById("custom-tabs-four-tab").innerHTML += '<li class="nav-item"><a class="nav-link" id="tab-'+file_value+'" onclick="openTab(\''+file_value+'\')">'+file_value+'</a></li>';
                document.getElementById("custom-tabs-four-tabContent").innerHTML += '<div class="tab-pane" id="'+file_value+'" style="display: block"><textarea id="code-'+file_value+'" name="code-'+file_value+'"></textarea></div>';
                var editor = CodeMirror.fromTextArea(document.getElementById("code-"+file_value), {
                mode: {name: "python",
                    version: 3,
                    singleLineStringErrors: false},
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true
            });
                editors[file_value] = editor;
                openTab(file_value);
            }
        }
    </script>



{% endblock %}
